.header {
  display: flex;
  justify-content: center;
}
h1{
  display: inline-block;
  background: #fff;
}
.content {
  display: inline-flex;
  border: black 2px solid;
}
.content__cell{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: black 2px solid;
  padding: 5px;
}
.content__cell--alert {
  background: gray;
  border: none;
  padding: 5px;
}